In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/name_price.csv',header=0)
df.head()

                name   price    category
0  trattoria nervosa  112.50  restaurant
1           bar chef  160.00  restaurant
2         McDonald's    9.49  restaurant
3          mcdonalds   36.42  restaurant
4             Subway   11.25  restaurant

In [3]:
df = df[['name','category']]
df.head()

                name    category
0  trattoria nervosa  restaurant
1           bar chef  restaurant
2         McDonald's  restaurant
3          mcdonalds  restaurant
4             Subway  restaurant